{% extends 'base.html' %}
<html>
    <head>
        <h1>Create the View Notes</h1>
    </head>
    <body>
        {% block content %}
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if form.errors %}
            <div class="alert alert-danger my-5">
                {{form.errors}}
            </div>
        
        {% endif %}

        <a href="{% url 'notes.list' %}" class="btn btn-secondary">Back to Notes</a>
        {% endblock %}
    </body>
</html>
