{% load static %}

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body class="mt-5 text-center container">
       <nav class="navbar navbar-dark">
            <div class="ms-auto">
                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                {% endif %}
            </div>
       </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>